!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title イベントアプリ
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
  %body
    %nav.bg-white.border-gray-200.dark:bg-gray-900.dark:border-gray-700
      .max-w-screen-xl.flex.flex-wrap.items-center.justify-between.mx-auto.p-4
        = link_to 'AwesomeEvents', root_path
        = link_to 'Githubでログイン', 'auth/github', class: 'btn rounded-full'
    .container
